<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1206-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2>Productos</h2>

		<form class="navbar-form" action="article/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por descripción o nombre del alumno">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<p>Los articulos que actualmente figuran son los siguientes:</p>
		<button type="button" id="updateButton" class="btn btn-default">Actualizar</button>
		<script th:inline="javascript">
 /*<![CDATA[*/>
 $( "#updateButton" ).click(function() {
	 var numberPage = [[${param.page}]];
	 var urlUpdate = '/article/list/';
	 if (numberPage != null ){
	 urlUpdate += "?page="+numberPage[0];
	 }
	 $("#tableArticle").load(urlUpdate);
	 });
	 /*]]>*/
		</script>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">Titulo</th>
						<th>Descripcion</th>
						<th>Precio</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${articlesList}">
						<td th:text="${article.title}">titulo</td>
						<td th:text="${article.description}">Descripcion</td>
						<td th:text="${article.price}">Precio</td>
						<td><a th:href="${'/article/delete/' + article.id}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<footer th:replace="fragments/pagination" />

	</div>
	<footer th:replace="fragments/footer" />
</html>
