<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
<h2><span th:text="#{reg.su}">Registráte como usuario </span></h2>

<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
 <div class="form-group" >
 <label class="control-label col-sm-2" for="email">Email:</label>
 <div class="col-sm-10">
 <input type="text" class="form-control" name="email"
 placeholder="" required="true" />
 <span class="text-danger" th:if="${#fields.hasErrors('email')}"
 th:errors="*{email}">
 
 </div>
 </div>
 <div class="form-group">
 <label class="control-label col-sm-2" for="name"><span th:text="#{name.su}">Nombre: </span></label>
 <div class="col-sm-10">
 <input type="text" class="form-control" name="name"
 placeholder="Ejemplo: Juan" required="true" />
 <span class="text-danger" th:if="${#fields.hasErrors('name')}"
 th:errors="*{name}"/>
 </div>
 </div>
 <div class="form-group">
 <label class="control-label col-sm-2" for="lastName"><span th:text="#{lastname.su}">Apellidos: </span></label>
 <div class="col-sm-10">
 <input type="text" class="form-control" name="lastName"
 placeholder="Ejemplo: Peréz Almonte" required="true" />
 <span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
 th:errors="*{lastName}"/>
 </div>
 </div>
 <div class="form-group">
 <label class="control-label col-sm-2" for="password"><span th:text="#{password.su}">Contraseña: </span></label>
 <div class="col-sm-10">
 <input type="password" class="form-control" name="password"
 placeholder="Entre el Password" />
 <span class="text-danger" th:if="${#fields.hasErrors('password')}"
 th:errors="*{password}"/>
 </div>
 </div>
 <div class="form-group" >
 <label class="control-label col-sm-2" for="passwordConfirm"><span th:text="#{passConfirm.su}">Repita
 la contraseña: </span></label>
 <div class="col-sm-10">
 <input type="password" class="form-control" name="passwordConfirm"
 placeholder="Repita el Password" />
 <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
 th:errors="*{passwordConfirm}"/>
 </div>
 </div>
 <div class="form-group">
 <div class="col-sm-offset-2 col-sm-10">
 <button type="submit" class="btn btn-primary"><span th:text="#{send.su}">Enviar</span></button>
 </div>
 </div>
</form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>