<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1206-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<h2><span th:text="#{ava.al}">Articulos propios: </span></h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-1"><span th:text="#{artTitle.home}">Titulo</span></th>
					<th<span th:text="#{artDesc.home}">Descrpicion</span></th>
					<th><span th:text="#{artPrice.home}">Precio</span></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="article : ${articlesList}">
					<td th:text="${article.title}"><span th:text="#{artTitle.home}">Titulo</span></td>
					<td th:text="${article.description}"><span th:text="#{artDesc.home}">Descrpicion</span></td>
					<td th:text="${article.price}"><span th:text="#{artPrice.home}">Precio</span></td>
					<td><a th:href="${'/article/delete/' + article.id}"><span th:text="#{delArt.home}">Eliminar</span></a></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="fragments/footer" />
</html>
