<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1206-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<h2><span th:text="#{ava.al}">Articulos disponibles: </span></h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Email</th>
							<th>Titulo</th>
							<th>Descripcion</th>
							<th>Precio</th>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="article : ${articlesList}">
					<td th:text="${article.title}"></td>
					<td th:text="${article.description}"></td>
					<td th:text="${article.price}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="fragments/footer" />
</html>
