<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1"><span th:text="#{artTitle.home}">Titulo</span></th>
						<th><span th:text="#{artDesc.home}">Descrpicion</span></th>
						<th><span th:text="#{artPrice.home}">Precio</span></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${articlesList}">
						<td th:text="${article.title}"><span
							th:text="#{artTitle.home}">Titulo</span></td>
						<td th:text="${article.description}"><span
							th:text="#{artDesc.home}">Descripcion</span></td>
						<td th:text="${article.price}"><span
							th:text="#{artPrice.home}">Precio</span></td>
						<td><a th:if="${article.owner}!=${user}" name="eliminar"
							th:href="${'/article/delete/' + article.id}"><span
								th:text="#{comArt.list}">Eliminar</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
